.flex-1[data-v-0e8bd648]{flex:1}.tasks-container[data-v-0e8bd648]{min-height:200px;max-height:300px;overflow-y:auto}.v-chip[data-v-0e8bd648]{cursor:pointer;transition:all .2s ease}.v-chip[data-v-0e8bd648]:hover{transform:scale(1.05)}
